/**
* izicookies
****/
.izicookies {
    width:41%;
    bottom:10px;
    right:10px;
    position:fixed;
    display:none;
    padding-top:10px;
    padding-left:10px;
    font-family:Arial,sans-serif;
    color:#555;
    background: #fff;
    z-index: 999999;
    border-radius: 10px;
    border: 1px solid #005c95;
}
.izicookies > .izicookies-banner-container {
    position:relative;
    overflow:hidden;
    padding:10px 7px 0 0;
    text-align:left;
}
.izicookies div.izicookies-banner-text {
    max-width:100%;
    position:relative;
    display:inline-block;
    padding:0 10px 10px;
    font-size:12px;
    line-height:1.3em;
    margin-bottom:0px!important;
}
.izicookies-banner-text h2 {
    font-size:1.4rem;
}
.izicookies div.izicookies-banner-start {
    max-width:100%;
    position:relative;
    display:inline-block;
    padding:0 10px 10px;
    font-size:12px;
    line-height:1.3em;
    margin-bottom:0px!important;
}
.izicookies-banner-start h2 {
    font-size:1.4rem;
}
.izicookies .izicookies-checkboxes {
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    padding-left:10px;
    text-align:left;
}
div.cookieDetail {
    overflow:hidden;
    padding:.5em;
    font-weight:normal;
    box-sizing: border-box;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}
.itsSoundCloudError {
    padding:4px 10px;
    text-align:center;
    background-color:#f00;
    border-radius:5px;
    color:#fff;
    behavior:url('assets/css3pie/1.0.0/PIE.htc');
    cursor: pointer;
}
span.izicookies-policy-link {
}
span.izicookies-policy-link a {
    white-space:nowrap;
    color:#555;
}
span.izicookies-policy-link a:hover {
    text-decoration:underline;
    color:#000;
    transition: color 0.3s ease 0s;
}
.izicookies-banner-container > .izicookies-accept-button-container,
.izicookies-banner-container > .izicookies-checkall-button-container {
    display:inline-block;
    margin-top:3px;
    float: right;
}
.izicookies-banner-container > .izicookies-checkall-button-container {
    margin-right: 10px;
}
.izicookies-accept-button-container > .izicookies-accept-button-text {
    padding:5px 10px;
    border-radius:4px;
    font:14px Arial,sans-serif;
    color:#fff;
    behavior:url('assets/css3pie/1.0.0/PIE.htc');
    cursor: pointer;
    background: #005c95;
    transition: background-color 0.3s ease 0s;
}
.izicookies-accept-button-container > .izicookies-accept-button-text:hover {
    border:1px solid #005c95;
    color:#005c95;
    background: #fff;
}
.izicookies-checkall-button-container > .izicookies-checkall-button-text {
    padding:5px 10px;
    border:1px solid #005c95;
    border-radius:4px;
    font:14px Arial,sans-serif;
    color:#005c95;
    behavior:url('assets/css3pie/1.0.0/PIE.htc');
    cursor: pointer;
    background: #fff;
    transition: background-color 0.3s ease 0s;
}
.izicookies-checkall-button-container > .izicookies-checkall-button-text:hover {
    color:#fff;
    background: #005c95;
}
.izicookies-checkboxes p {
    display: inline;
}
.izicookies span.lab {
    margin-left:15px;
}


@media (max-width:769px){
    .izicookies {
        width: 92%;
    }
}